@import "globals.less";
@import "mixins.less";
@import "../../lib/elements/elements.less";


.page {
	> p {
		color: @darkGrey;
		.columns(@colwidth: 485px, @colcount: 2, @colgap: 30px, @columnRuleColor: darkGrey, @columnRuleStyle: solid, @columnRuleWidth: 0);
		a {
			text-shadow: none;
		}
	}
}

.projects {
	> h2 {
		margin-bottom: @g1*2.8;
	}
	> article {
		color: @greyBlack;
		background: FloralWhite;
		width: @g1*30;
		height: @g1*30;
		margin-right: @g1*3;
		margin-top: 0;
		margin-bottom: @g1*3;
		padding: @g1*.5;
		overflow: hidden;
		.rounded(@g1*1.5);
		display: inline-block;
		border: 1px solid @mutedGrey;
		.shaded-inner-shadow(0, 0, @g1, rgba(150, 165, 175, .75));
		font-family: 'Open sans', sans-serif;
		cursor: pointer;
		&:after {
			content: " ";
			position: relative;
			display: block;
			width: 110%;
			height: 110%;
			top: @g1*-31;
			left: @g1*-.5;
			.gradient(@color: FloralWhite, @start: @lessBlack, @stop: FloralWhite);
			opacity: .25;
		}
		&:nth-of-type(3n) {
			margin-right: 0;
		}
		&.hl {
			.shaded-inner-shadow(0, 0, 0, rgba(150, 165, 175, 0));
			.drop-shadow(0, @g1*2, @g1*2, 0.35);
			.gradient(@color: FloralWhite, @start: LavenderBlush, @stop: FloralWhite);
			&:after {
				display: none;
			}
		}
		title {
			display: block;
			text-align: center;
			margin-top: @g1;
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-size: larger;
			font-weight: 400;
			color: @greyBlack;
		}
		.pic {
			width: 100%;
			img {
				.center();
				height: @g1*15;
				width: @g1*15;
				margin-top: @g1;
				margin-bottom: @g1;
				display: block;
				.rounded(@g1*1.5);
			}
		}
		.desc {
			margin: @g1;
			p {
			min-height: @g1*8;
			}
		}
	}
}